# venv
.venv/
.conda/
.venv_tst/
tests/data/temp_data/
tests/data/_tmp/
scripts/
export/
input/
logs/
img/
__pycache__/
.ipynb_checkpoints/
# alttpr*.py
tracker_box_and_points.txt
stats_template_alttpr*.xlsx
.env
requirements_versionfree*.txt
alttpr/config_timestamps_tmp.py
alttpr/config_trackerpoints_tmp.py
alttpr/config_offset_tmp.py
alttpr/config_notes_tmp.py
